
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>&leftrightharpoons;
    <a routerLink="about">About</a>&sc;
    <a routerLink="dashboard">Dashboard</a>&colone;
  </nav>  
</div>

<div class="container">
 
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']"><strong> {{title}} </strong></a>
      </div>
      <ul class="nav navbar-nav">
          <li><a [routerLink]="['home']">Home</a></li>
          <li><a [routerLink]="['about']">About</a></li>
          <li><a [routerLink]="['dashboard']">Dashboard</a></li>
      </ul>
    </div>
  </nav>
   
   <router-outlet></router-outlet>
   
  </div>

  <div class="container">
    <router-outlet></router-outlet>    
  </div>
  